<div style="width:100%;">
  <div class="row">
    <div style="margin-top:2%">
      <h1>REGISTRO</h1>
    </div>
  </div>
  <div class="wrapper">
    <div class="inner">
      <div class="image-holder">
        <img src="./assets/images/logo.PNG" alt="">
      </div>
      <form [formGroup]="service.formModel" autocomplete="off" (submit)="onSubmit()">
        <div class="form-group">
          <input type="text" placeholder="Nombre Completo" class="form-control" formControlName="FullName">
          <label class="text-danger" *ngIf="service.formModel.get('FullName')?.touched && service.formModel.get('FullName')?.errors?.['required']">
            Este campo es obligatorio
          </label>
        </div>
        <div class="form-group required">
          <input type="text" placeholder="Correo" class="form-control" formControlName="Email" />
          <label class="text-danger" *ngIf="service.formModel.get('Email')?.touched && service.formModel.get('Email')?.errors?.['email']">
            Correo no válido
          </label>
        </div>
        <div formGroupName="Passwords">
          <div class="form-group required">
            <input type="text" placeholder="Contraseña" type="password" class="form-control" formControlName="Password" />
            <label class="text-danger" *ngIf="service.formModel.get('Passwords.Password')?.touched && service.formModel.get('Passwords.Password')?.errors?.['required']">
              Este campo es obligatorio
            </label>
            <label class="text-danger" *ngIf="service.formModel.get('Passwords.Password')?.touched && service.formModel.get('Passwords.Password')?.errors?.['minlength']">
              Minimo 4 caracteres
            </label>
          </div>
          <div class="form-group required">
            <input type="text" placeholder="Repetir Contraseña" type="password" class="form-control" formControlName="ConfirmPassword" />
            <label class="text-danger" *ngIf="service.formModel.get('Passwords.ConfirmPassword')?.touched && service.formModel.get('Passwords.ConfirmPassword')?.errors?.['required']">
              Este campo es obligatorio
            </label>
            <label class="text-danger" *ngIf="service.formModel.get('Passwords.ConfirmPassword')?.touched && service.formModel.get('Passwords.ConfirmPassword')?.errors?.['passwordMismatch']">
              Las contraseñas no coinciden
            </label>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group.col-md-8.offset-md-2" style="margin-top:10px;">
            <button type="submit" class="btn-primary btn-lg btn-block" [disabled]="false">Enviar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
